.page-header {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    justify-content: space-between;
    
    @media screen and (min-width:768px){
    max-width: 768px ;
    height: 80px;
    }
    @media screen and (min-width:1200px) {
    max-width: 1200px;
    }
  }
  .logo{
    color: $primary-text-color;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;

    @media screen and (min-width:768px) {
        margin-right: 88px;
        padding-top: 26px;
        padding-bottom: 26px; 
    }

    @media screen and (min-width:1200px) {
        margin-right: 93px;
        padding-top: 24px;
        padding-bottom: 25px;
        font-size: 26px;
        line-height: 1.19;
    }

    &__web {
        color: $accent-text-color;
        }
}
.web-studio-logo {
  color: $accent-text-color;
}
.site-nav__list-link--active {
  color: $accent-text-color;
}


  /*Contacts nav*/
  
  @media screen and (max-width:767px){
    .contacts-list {
        display:none;
    }
}
@media screen and (min-width:768px){
    .contacts-list {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__item {

            &:not(:last-child){
                margin-bottom: 10px;
            }
        } 
        
        &__link {
           display: flex;
           align-items: center;
           color: $primary-text-color;
           font-weight: 500;
           font-size: 12px;
           line-height: 1.17;
           letter-spacing: 0.02em;
           text-decoration: none;
           transition: color $timing-function;

            &:hover,
            &:focus {
                color: $accent-text-color;
            }
        }

        &__icon{
            margin-right: 8px;
            fill: currentColor;
        }

        &__icon--mail {
            width: 14px;  
            height: 10px;
        }

        &__icon--tel{
            width: 10px;  
            height: 14px;
        }

    }
}


@media screen and (min-width:1200px){
    .contacts-list {
        align-items:  center;
        flex-direction: row;

        &__link{
            padding-top: 32px;
            padding-bottom: 32px;
            font-size: 14px;
            line-height: 1.14;    
            }

        &__item {

            &:not(:last-child){
            margin-right: 50px;
            margin-bottom: 0;
            }
        } 
        
        &__icon{
            margin-right: 10px;
           }

        &__icon--mail {
            width: 16px;  
            height: 12px;
        }

        &__icon--tel{
            width: 10px;  
            height: 16px;
        }
          
    }
}

    
