   
  .qualities-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background: var(--bgc-team);  
    border-radius: 4px;
    
    & :not(:last-child) {
      margin-bottom: 30px;
    }
  }
  
  .qualities-list-icon {
    
    width: 65px;
    height: 70px;
    color: var(--title-text-color);
    padding-left: 0px;
  }
  

  .qualities {
    padding-top: 60px;
    padding-bottom: 60px;

    & .item {
      text-align: flex-start;
    
      width: 100%;

      :not(:last-child) {
        margin-right: 30px;
      }
    }
    
    & .title {
      text-align: center;
      color: var(--title-text-color);
    
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
    
      margin-top: 30px;
      margin-bottom: 10px;
    }
    & .text {
      
      align-content: flex-wrap ;
      width: 100%;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      margin-top: 0;
      margin-bottom: 30px;
      color: var(--general-color-text);
      letter-spacing: 0.003em;
    }  
  }
  
  .qualities-list {
    display: flex;
    flex-direction: column;
    & :not(:last-child) {
    }
  }
  


  // .qualities-list-item {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 270px;
  //   height: 120px;
  //   background: var(--bgc-team);  
  //   border-radius: 4px;
  //   margin-bottom: 30px;
  // }
  
  // .qualities-list-icon {
    
  //   width: 70px;
  //   height: 70px;
  //   color: var(--title-text-color);
  //   padding-left: 0px;
  // }
  
 
  // .portfolio-section {
  //   padding-top: 94px;
  //   padding-bottom: 94px;
  // }

  // .qualities {
  //   padding-top: 94px;
  //   padding-bottom: 94px;

  //   & .item {
  //     text-align: left;
    
  //     width: 270px;

  //     :not(:last-child) {
  //       margin-right: 30px;
  //     }
  //   }
    
  //   & .title {
  //     color: var(--title-text-color);
    
  //     font-weight: 700;
  //     font-size: 14px;
  //     line-height: 1.14;
  //     text-transform: uppercase;
    
  //     margin-top: 0px;
  //     margin-bottom: 10px;
  //   }
  //   & .text {
  //     width: 270px;
  //     font-weight: 400;
  //     font-size: 14px;
  //     line-height: 1.71;
  //     margin-top: 0;
  //     margin-bottom: 0;
  //     color: var(--general-color-text);
  //     letter-spacing: 0.003em;
  //   }  
  // }
  
  // .qualities-list {
  //   display: flex;

  //   & :not(:last-child) {
  //     margin-right: 30px;
  //   }
  // }
  

