/* team-section */

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  
    background-color: var(--bgc-team);
    align-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  
    max-width: 1600px;
  
    

  & .title {
    color: var(--title-text-color);
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  
    margin-top: 0px;
    margin-bottom: 50px;}

    & .padding-studio {
      padding: 30px 32px;
    }
    & .name-title {
      color: var(--title-text-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
    
      margin-top: 0px;
      margin-bottom: 10px;
    }
    
    & .text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.19;
      
      margin-top: 0px;
      margin-bottom: 16px;
      color: var(--general-color-text);
      letter-spacing: 0.003em;
    }
    
  
    
    & .item {
      background-color: #fff;
      width: 270px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
     
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
   
  }

.team-list {
    display: flex;
    
  }
    
.img-team {
    margin-top: 0px;
    margin-bottom: 0px;
  }
 
  